---
layout: default
---

<article class="h-entry">
  <h1 class="title p-name"><a href="/">{{ page.title }}</a></h1>

  <main class="main-content" role="main">
    <p class="post__meta post__meta--full">
    <span class="post__meta__item">
      Posted on
      {% assign d = page.date | date: "%-d" %}
      {{ page.date | date: "%B" }}
      {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y" }}</time>
    </span>
    <span class="post__meta__item">
      {% capture permalink %}{{ site.url }}{{ page.url }}{% endcapture %}
      {% webmention_count permalink %} webmentions
    </span>
    <span class="post__meta__item">Read in {{ content | reading_time_as_s }}</span>
    </p>
    <div class="e-content">
      {{ content }}
    </div>
  </main>
</article>
