$base-font-size: 18px;
$large-font-size: 21px;
$base-line-height: 32px;
$light-grey: #888;
$becca: #663399;
$subtle-text: tint($becca, 38%);
$super-subtle-text: tint($becca, 65%);
$white: tint($becca, 98%);
$black: #000;
