<!DOCTYPE html>
<html class="no-js">
  <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ site.twitter }}" />
    <meta name="twitter:creator" content="{{ site.twitter }}" />

    <!-- Facebook Open Graph -->
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{site.url}}{{ page.url }}" />
    {% if description %}
    <meta property="og:description" content="{{ description }}" />
    {% endif %}
    {% if social_image %}
    <meta property="og:image" content="{{ social_image }}" />
    {% endif %}

    <!-- Add web sign-in -->
    <link rel="me" href="mailto:hello@lewisnyman.co.uk" />
    <link rel="me" href="https://twitter.com/lewisnyman" />

    <!-- Webmention.io -->
    <link rel="pingback" href="https://webmention.io/lewisnyman.co.uk/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/lewisnyman.co.uk/webmention" />

    <!-- Indieauth.com -->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/rss.xml" />

    <title>{{ site.name }} - {{ title }}</title>

    <!-- build:js(src) /js/top.js -->
    <script src="/assets/js/vendor/modernizr.js"></script>
    <script src="/assets/js/loader.js"></script>
    <!-- endbuild -->

    <!-- build:css({src,.tmp}) /css/styling.css -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/styling.css">
    <!-- endbuild -->

  </head>
  <body>

  <div class="container">

    <header>
      <nav class="site-nav">
        <ul>
          {% comment %}
            The code below dynamically generates a sidebar nav of pages defined in /_data/menu.json.
          {% endcomment %}
          {% for item in menu %}
            <li{% if item.url == page.url %} class="is-active"{% endif %}><a href="{{item.url}}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
