<!DOCTYPE html>
<html class="no-js">
  <head>

    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="987AAmWXbXJ7urr8kwuqs2o2sLbVMEvFoyisVIJFcsA" />

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.author.twitter }}" />
    <meta name="twitter:domain" content="{{ site.url }}" />
    <meta name="twitter:creator" content="@{{ site.author.twitter }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:url" content="{{ page.url }}" />

    <!-- Facebook Open Graph -->
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="article:author" content="{{ site.author.facebook }}" />

    <!-- Add web sign-in -->
    <link rel="me" href="mailto:hello@lewisnyman.co.uk" />
    <link rel="me" href="https://twitter.com/lewisnyman" />
    <link rel="me" href="http://drupal.org/user/751964" />
    <link rel="me" href="sms:+447753103690" />

    <!-- Webmention.io -->
    <link rel="pingback" href="https://webmention.io/lewisnyman.co.uk/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/lewisnyman.co.uk/webmention" />

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="Lewis Nyman" href="/rss.xml" />

    <title>{{ site.name }} - {{ page.title }}</title>

    <!-- build:js(app) /js/top.js -->
    <script src="/assets/js/vendor/modernizr.js"></script>
    <script src="/assets/js/loader.js"></script>
    <!-- endbuild -->

    <!-- build:css({app,.tmp}) /css/styling.css -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/styling.css">
    <!-- endbuild -->

  </head>
  <body>

  <div class="container">

    <header>
      <nav class="site-nav">
        <ul>
          {% comment %}
            The code below dynamically generates a sidebar nav of pages defined in /_data/menu.yml.
          {% endcomment %}
          {% assign navurl = page.url | remove: 'index.html' %}
          {% for item in site.data.menu %}
            <li{% if item.url == navurl %} class="is-active"{% endif %}><a href="{{item.url}}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
