<!DOCTYPE html>
<html class="no-js">
  <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ site.twitter }}" />
    <meta name="twitter:creator" content="{{ site.twitter }}" />

    <!-- Facebook Open Graph -->
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{site.url}}{{ page.url }}" />
    {% if description %}
    <meta property="og:description" content="{{ description }}" />
    {% endif %}
    {% if social_image %}
    <meta property="og:image" content="{{ social_image }}" />
    {% endif %}

    <!-- Add web sign-in -->
    <link rel="me" href="mailto:hello@lewisnyman.co.uk" />
    <link rel="me" href="https://twitter.com/lewisnyman" />

    <!-- Webmention.io -->
    <link rel="pingback" href="https://webmention.io/lewisnyman.co.uk/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/lewisnyman.co.uk/webmention" />

    <!-- Indieauth.com -->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/rss.xml" />

    <title>{{ site.name }} - {{ title }}</title>

    <link rel="preconnect" href="https://res.cloudinary.com">
    <link rel="preconnect" href="https://use.typekit.net">

    <!-- build:css({src,.tmp}) /css/styling.css -->
    <link rel="stylesheet" href="/assets/scss/styling.css">
    <!-- endbuild -->

    <script>
      document.documentElement.className = document.documentElement.className.replace("no-js", "js cssanimations");
    </script>
    <script>
      (function(d) {
        var config = {
          kitId: 'dfl4hkz',
          scriptTimeout: 3000,
          async: true
        },
        h = d.documentElement, t = setTimeout(function() {
          h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
        }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a;
        h.className += " wf-loading";
        tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function() {
          a = this.readyState;
          if (f || a && a != "complete" && a != "loaded") return;
          f = true;
          clearTimeout(t);
          try { Typekit.load(config); } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s);
      })(document);
    </script>

  </head>
  <body>

  <div class="container">

    <header>
      <nav class="site-nav">
        <ul>
          {% for item in menu %}
            <li{% if page.url == item.url or item.url != "/" and page.url contains item.url %} class="is-active"{% endif %}><a href="{{item.url}}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
