@include keyframes(fadeIn)  {
  from {opacity: 0;}	
	to {opacity: 1;}
}

h1,
h1 [class*=char],
#content {
  opacity: 0;
}

.no-js,
.no-cssanimations {
  h1,
  h1 [class*=char],
  #content {
    opacity: 1;
  }
}

.cssanimations.wf-inactive,
.cssanimations.wf-active {
  h1 [class*=char],
  #content {
    	opacity: 0;
    	@include animation-name(fadeIn);
    	@include animation-duration(.4s);
    	@include animation-delay(.6s);
    	@include animation-fill-mode(forwards);
    }
  #content {
    @include animation-delay(1.1s);
    @include animation-duration(1.1s);
  }
  h1 {
    opacity: 1;
  }
}


