.container {
  padding: 0 2%;
  margin: 0 auto;
  max-width: 900px;
}

#main-menu li {
  margin: 0 0.5em;
}
#main-menu li a {
  border-bottom: 1px dotted transparent;
}
#main-menu li a:hover {
  border-bottom-color: #000;
}

#header {
  float: left;
  background-color: #000;
  padding: 0 0.4em;
}

#header a {
  border: 0;
  color: #fff;
  font-weight: 300;
}

nav[role="navigation"] {
  display: block;
}

@media all and (min-width: 21.667em) {
  nav[role="navigation"] {
    float: right;
  }
}

#main {
  clear: both;
}

#site-name {
 margin: 0;
}

/* Forms and shit */

label {
  display: block;
}

.view article {
  border-bottom: 1px solid #CCC;
  padding-bottom: 29px;
}
