nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline-block;
  margin: 0 0.5em;
}
nav li:first-child {
  margin-left: 0;
}

.site-nav li a {
  border-bottom: 1px dotted transparent;
}
.site-nav li a:hover {
  border-bottom-color: #000;
}

.to-home {
  background: #000;
  border: 0;
  color: #fff;
  font-weight: 300;
  padding: 0 0.5em;
}
