.image-grid {
  display: flex;
}
.image-grid__item {
  display: block;
  flex: auto;
  margin: .5vw;
  overflow: hidden;
  background: none;
  .image-grid--2 & {
    width: 50%;
  }
  .image-grid--3 &,
  .image-grid--6 & {
    width: 33%;
  }
  .image-grid--4 &,
  .image-grid--8 & {
    width: 25%;
  }
}
.image-grid img {
  object-fit: cover;
}