.listing {
  padding: 0;
}

.listing__item {
  list-style-type: none;
  border-bottom: 1px solid $super-subtle-text;
  padding: 1em 0;
}

.listing__title {
  margin-bottom: 0;
}

.listing__detail {
  margin: 0.5em 0 0;
}

.listing__link {
  margin-top: 0.75em;
}
