nav ul {
  margin: 0;
}
nav li {
  display: inline-block;
  margin: 0 0.5em;
}
nav li:first-child {
  margin-left: 0;
}

.site-nav a {
  background-image: none;
  text-shadow: none;
}
.site-nav a:hover {
  border-bottom-color: #000;
  @media($is-color) {
    border-bottom-color: $white;
  }
}

.site-nav li.is-active {
  background: #000;
  border: 0;
  color: #fff;
  font-weight: 300;
  padding: 0 0.5em;
  @media($is-color) {
    background: $becca;
    color: $white;
  }
}
.site-nav li.is-active:hover {
  border-bottom-color: transparent;
}
