.meta {
  margin: 0 0 7px;
  @include clearfix();
}
.meta--full {
  margin: 0 0 pxtorem($base-line-height);
  border-bottom: 1px solid $super-subtle-text;
  padding-bottom: 7px;
}
.meta__item {
  float: left;
  padding: 0 0.5em;
  border-right: 1px solid $super-subtle-text;
}
.meta__item:first-child {
  padding-left: 0;
}
.meta__item:last-child {
  padding-right: 0;
  border-right: 0;
}
