---
layout: default
---

<article>
  <h1 class="title"><a href="/case-studies/">{{ title }}</a></h1>

  <main class="main-content" role="main">
  <p class="meta meta--full">
    <span class="meta__item">{{ client }}</span>
    {% if period %}<span class="meta__item">{{ period }}</span>{% endif %}
    {% assign readMins = content | readingTime %}
    <span class="meta__item">Read in {{ readMins }} {% if readMins == 1 %}minute{% else %}minutes{% endif %}</span>
  </p>
    {% if summary %}<p class="intro">{{ summary }}</p>{% endif %}
    <div class="e-content">{{ content }}</div>
  </main>
</article>
