---
layout: default
---

<article class="h-entry">
  <h1 class="title p-name"><a href="/">{{ title }}</a></h1>

  <main class="main-content" role="main">
    <p class="meta meta--full">
      <span class="meta__item">
        Posted on
        <time
          class="dt-published"
          datetime="{{ page.date | date_to_xmlschema }}"
          >{{ page.date | prettyDate }}</time
        >
      </span>
      <span class="meta__item">
        {% capture permalink %}{{ site.url }}{{ page.url }}{% endcapture %}
      </span>
      {% assign readMins = content | readingTime %}
      <span class="meta__item"
        >Read in {{ readMins }} {% if readMins == 1 %}minute{% else %}minutes{% endif %}</span
      >
    </p>
    <div class="e-content">{{ content }}</div>
  </main>
</article>
