@include keyframes(fadeIn)  {
  from {opacity: 0;}
	to {opacity: 1;}
}

.js {
  h1,
  h1 [class*=char],
  .main-content {
    opacity: 0;
  }
}

.no-cssanimations {
  h1,
  h1 [class*=char],
  .main-content {
    opacity: 1;
  }
}

.cssanimations.wf-inactive,
.cssanimations.wf-active {
  h1 [class*=char],
  .main-content {
    	opacity: 0;
    	@include animation-name(fadeIn);
    	@include animation-duration(.4s);
    	@include animation-delay(.6s);
    	@include animation-fill-mode(forwards);
    }
  .main-content {
    @include animation-delay(1.1s);
    @include animation-duration(1.1s);
  }
  h1 {
    opacity: 1;
  }
}


