nav ul {
  margin: 0;
}
nav li {
  display: inline-block;
  margin: 0 0.5em;
}
nav li:first-child {
  margin-left: 0;
}

.site-nav a {
  border-bottom: 1px dotted transparent;
}
.site-nav a:hover {
  border-bottom-color: #000;
  @include breakpoint($is-color) {
    border-bottom-color: $white;
  }
}

.site-nav li.is-active {
  background: #000;
  border: 0;
  color: #fff;
  font-weight: 300;
  padding: 0 0.5em;
  @include breakpoint($is-color) {
    background: $white;
    color: $becca;
  }
}
.site-nav li.is-active:hover {
  border-bottom-color: transparent;
}
