$base-font-size: 18px;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@function pxtoem($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

@function pxtorem($target) {
   @if $target == 0 { @return 0 }
   @return $target / $base-font-size + 0rem;
}
